---
import TextImageSection from "../../components/TextImageSection/TextImageSection.astro";
import Container from "../../ui/Container/Container.astro";
import Section from "../../ui/Section/Section.astro";
import Subtitle from "../../ui/Subtitle/Subtitle.astro";
import Title from "../../ui/Title/Title.astro";

import "./OurBeliefs.css";

import image1 from "../../assets/image-1.jpg";
import image2 from "../../assets/image-2.jpg";
import { SvgMinus, SvgPlus } from "../../ui/SvgIcons/SvgIcons";
---

<Section className="our-beliefs">
  <Container>
    <div class="our-beliefs__wrapper">
      <div class="our-beliefs__text-wrapper">
        <Subtitle>Наші віровчення</Subtitle>
        <Title tag="h2">у що ми віримо?</Title>
      </div>
      <div data-astro="client:load" class="our-beliefs__accordion-wrapper">
        <div class="our-beliefs__accordion">
          <div class="our-beliefs__accordion-header">
            <span class="top-key" style={{ backgroundColor: "var(--seasalt)" }}
            ></span>
            <h3 class="our-beliefs__accordion-title">
              Вчення про Святе Писання
            </h3>
            <SvgPlus />
            <SvgMinus />
            <span
              class="bottom-key-1"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
            <span
              class="bottom-key-2"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
          </div>
          <div class="our-beliefs__content-wrapper">
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description='Ми віримо, що "все Писання натхненне Богом" (2Тимофію 3:16), і під цим розуміємо, що вся Біблія є натхненною Богом, тому що святі мужі Божі були скеровані Духом Святим написати її (2Петра 1:21). Це натхнення поширюється однаково і повністю на всі частини Писання – історичні, поетичні, повчальні книги та книги пророків. Тому Біблія є безпомилковою у тексті оригіналу, авторитетною та достатньою на всі часи (2Петра 1:19; Івана 5:39), христоцентричною – розповідає про Христа, христологічною – навчає про Христа.'
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Центром усієї Біблії є Ісус Христос – Господь і Спаситель, Його Особа та Його праця під час першого і другому приходів. Отже, жодна частина Біблії, у тому числі й Старий Завіт, не може вважатися правильно прочитаною або сприйнятою, якщо вона не спрямовує до Нього (Луки 24:27,44; Дії 17:2-3; 18:28; 26:22-23; 28:23). Тому, маючи Божий авторитет і силу впливу на людей, Святе Писання як Слово Боже дане нам для керівництва у всіх сферах нашого життя (Ісая 55:10-11; Псалом 118:105; Римлян 15:4; 1Коринтян 10:11)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Наша віра будується на відкритті: Бог відкриває Себе в історії людства, і 66 книг Біблії є виявом Його самовідкриття (Євреїв 1:1-3). Ми віримо, що, з одного боку, Писання є істинним свідченням благочестивих людей про Бога, Якого вони любили та Якому служили, а з іншого боку – є Божим свідченням і Божою наукою у зрозумілій для людини формі."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ісус Христос розглядав Писання як настанови Свого Небесного Отця (Матвія 4:4; 7:10; 5:19-20; 19:4-6; 26:31,52-54). Апостол Павло описував Старий Заповіт як повністю натхненний Богом. Апостол Петро підтверджує божественне походження біблійної науки (2Петра 1:21; 1Петра 1:10-12)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Церква справедливо вважає справжні апостольські Писання такими, що довершують Біблію (1Коринтян 2:12-13). Ми віримо, що Писання є одночасно повністю людською та повністю божественною книгою. Тому весь її багатогранний вміст – історія, пророцтва, поезія, пісні, мудрість, проповіді, листи та все інше – приймаємо як від Бога. Визнання Біблії, як авторитетного та безпомилкового Слова Божого, зобов’язує нас дякувати Богові за дар Його написаного Слова (2Коринтян 9:15), старанно будувати нашу віру й життя повністю та виключно на Ньому (Римлян 10:17; Юди 1:20)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Писання – божественна книга для людей, тлумачення якої повинно враховувати відомості про автора книги, історичний та культурний контекст її написання (Луки 10:26). Водночас Біблія містить і алегоричні тексти. Кожна книга Біблії написана зрозуміло для тих читачів, до яких вона зверталася. Це також стосується книг, які широко використовують символічну мову, – книг Даниїла, Захарії та Об’явлення."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Читаючи та пояснюючи Святе Писання, ми повинні дотримуватися двох принципів: сприймати факти, заповіді, обітниці та застереження, які Бог повідомляє нам, так, як вони написані (Луки 8:5-8); молитовно на підставі Писання роздумувати та знаходити те, що Бог хоче відкрити (Луки 8:9-15)."
              image={image2}
            />
          </div>
        </div>
        <div class="our-beliefs__accordion">
          <div class="our-beliefs__accordion-header">
            <span class="top-key" style={{ backgroundColor: "var(--seasalt)" }}
            ></span>
            <h3 class="our-beliefs__accordion-title">Вчення про Бога</h3>
            <SvgPlus />
            <SvgMinus />
            <span
              class="bottom-key-1"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
            <span
              class="bottom-key-2"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
          </div>
          <div class="our-beliefs__content-wrapper">
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що є один і тільки один Бог (Второзаконня 6:4; 1Коринтян 8:4) – живий (Второзаконня 32:39-40), правдивий (Вихід 34:6), досконалий (Матвія 5:48). Він відкриває Себе як нескінченна, неосяжна, самодостатня, вічна та незмінна Особа (Вихід 3:14; Псалом 44:7)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Бог є: Святим (Псалом 21:4; 1Петра 1:16); Всемогутнім (Буття 17:1; 18:14; Йов 42:2; Луки 1:37); Тим, Хто знає все (Псалом 93:11; 138:2; Притчі 5:21); Всюди присутнім (Буття 28:16; Вихід 3:5); Творцем  і  Вседержителем  усього, що є (Об’явлення 1:8); Єдиним, хто гідний слави та поклоніння (Вихід 20:2-7; Матвія 4:10; Римлян 16:27)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Бог є Триєдиним: Отець, Син і Святий Дух (Буття 1:1-2; Луки 3:21-22; Євреїв 1:1-2; Об’явлення 3:22). Кожна Особа Трійці володіє усією сукупністю божественних рис. Триєдиний Бог у Своєму єстві та властивостях є рівний і не роздільний, так що Отець – Бог, Син – Бог і Святий Дух – Бог, однак не три Боги, а один Бог (Івана 10:30; 14:26)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Бог-Отець є ніким не створений, безначальний, ненароджений, через Якого все сталося (Івана 1:1-4). Він – святий (1Петра 1:16), добрий (Матвія 19:17), справедливий (Псалом 7:12; 70:19; Об’явлення 3:19). Бог є Отцем Господа нашого і Спасителя Ісуса Христа (Матвія 3:17; 17:5)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Бог-Син є не створений, а однороджений, «що в лоні Бога-Отця» (Івана 1:18). Він – єдиносущий з Отцем і володіє усіма рисами Бога. Заради спасіння людей Він утілився і став людиною (Филипʼян 2:7), не втрачаючи Своєї божественної сутності. Він став істинною Людиною, в Якій Божа і людська природи досконало поєдналися (не змішуючись, не змінюючись, не поділяючись). Отже, Ісус Христос – істинний Бог (1Івана 5:20) та істинна Людина (Римлян 5:15; 1Тимофію 2:5)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ісус Христос: був непорочно зачатий від Духа Святого (Матвія 1:20; Луки 1:35); тілесно народився від Діви Марії (Матвія 1:21; Луки 2:7); прожив абсолютно безгрішне життя (1Петра 2:22; Євреїв 4:15); помер на хресті за гріхи людей (Матвія 27:50; Римлян 8:34); воскрес із мертвих (Матвія 28:5-6; Дії 1:3); вознісся і сів праворуч Отця (Марка 16:19; Дії 1:9); є єдиним Заступником і Посередником між Богом і людиною (Римлян 8:34; 1Тимофію 2:5); прийде вдруге у силі та славі (Дії 1:10-11; Івана 14:1-3)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Бог-Святий Дух є не створений, прийшов від Отця через Сина (Івана 14:26). Він рівний Отцю і Сину і володіє усіма рисами Бога. Святий Дух: є натхненником Святого Писання (2Петра 1:21); бере участь у творенні (Буття 1:2), спасінні людини (Євреїв 3:7), будуванні Церкви (Ефесян  2:22); прославляє  Христа  (Івана 16:14); виявляє гріх (Івана 16:8-9); відроджує людину (Івана 3:5-7); веде дорогою освячення (Івана 16:13)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що у створенні неба і землі, усього видимого і невидимого, а також самої людини, брала участь Божественна Трійця: Отець, Син і Святий Дух. Ми віримо, що у створенні нового неба і нової землі, де пробуває правда, і нової людини для життя на них (2Петра 2:13), бере участь Божественна Трійця: Ісус Христос прощає грішника (Галатам 4:4); Отець приймає як синів і дочок (Галатам 4:5); Дух Святий наповнює, освячує і робить спадкоємцем вічного життя (Галатам 4:6-7)."
              image={image1}
            />
          </div>
        </div>
        <div class="our-beliefs__accordion">
          <div class="our-beliefs__accordion-header">
            <span class="top-key" style={{ backgroundColor: "var(--seasalt)" }}
            ></span>
            <h3 class="our-beliefs__accordion-title">Вчення про людину</h3>
            <SvgPlus />
            <SvgMinus />
            <span
              class="bottom-key-1"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
            <span
              class="bottom-key-2"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
          </div>
          <div class="our-beliefs__content-wrapper">
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Бог створив людину із “пороху земного, вдихнув дихання життя, і стала людина душею живою” (Буття 2:7). Отже, людина – істота триєдина (дух, душа і тіло) – Йов 12:10; Ісая 57:16; 1Солунян 5:23; Євреїв 14:12 – і належить до фізичного (видимого) світу та духовного (невидимого)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Бог створив людину безсмертною за образом і подобою Своєю, які полягають в інтелектуальних, моральних, вольових та інших властивостях (Буття 1:26-27, 5:1; Якова 3:9). Бог створив людину з метою: безпосереднього спілкування з нею (Буття 3:8; Екклезіяст 7:29); поклоніння Йому (Псалом 66:4); продовження людського роду і “замешкання по всій землі” (Буття 1:28; Дії 17:26); для володіння навколишнім світом і праці на землі (Буття 1:28; 2:15; Псалом 8:7)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Бог є Триєдиним: Отець, Син і Святий Дух (Буття 1:1-2; Луки 3:21-22; Євреїв 1:1-2; Об’явлення 3:22). Кожна Особа Трійці володіє усією сукупністю божественних рис. Триєдиний Бог у Своєму єстві та властивостях є рівний і не роздільний, так що Отець – Бог, Син – Бог і Святий Дух – Бог, однак не три Боги, а один Бог (Івана 10:30; 14:26)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Бог створив людину зі свободою волі. Вона має право самостійно зробити вибір між добром і злом (Буття 2:16-17; Второзаконня 30:19; Ісус Навин 24:15; Єремія 21:8). "
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що людина через спокусу від диявола самостійно вибрала шлях непослуху своєму Творцеві, чим згрішила проти Святого Бога (Буття 3:1-6; Ісая 59:2; Івана 8:44). У момент гріхопадіння людина померла духовно і стала смертною фізично (Буття 2:17; Римлян 6:23; Ефесян 2:1; Колосян 2:13). Через гріхопадіння перших людей усе людство успадкувало гріховну природу та смертність (Буття 6:3; Псалом 50:7; 57:4; Єремія 17:9; Римлян 5:12). Результатом гріхопадіння є те, що людина самостійно не може знайти Бога (1Коринтян 2:14; Римлян 3:11)."
              image={image2}
            />
          </div>
        </div>
        <div class="our-beliefs__accordion">
          <div class="our-beliefs__accordion-header">
            <span class="top-key" style={{ backgroundColor: "var(--seasalt)" }}
            ></span>
            <h3 class="our-beliefs__accordion-title">Вчення про спасіння</h3>
            <SvgPlus />
            <SvgMinus />
            <span
              class="bottom-key-1"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
            <span
              class="bottom-key-2"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
          </div>
          <div class="our-beliefs__content-wrapper">
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Бог передбачав гріхопадіння перших людей, тому приготував план спасіння, згідно якого Христос був Агнцем, призначеним на заколення від закладин світу (Об’явлення 13:8). Христос у призначений Богом час взяв на Себе гріх усього світу, зазнав за це праведного суду Божого і, досконало задовольнивши Боже правосуддя, звершив повне викуплення і спасіння (Івана 1:29; 1Петра 2:24; 2Коринтян 5:21)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Спасіння звершується Богом по благодаті. Людина отримує його тільки через особисте та самостійне навернення до Бога. Тому “під небом нема іншого Ймення, даного людям, щоб ним би спастися ми мали” (Дії 4:12). ."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що для навернення грішника до Бога необхідна віра, яку дає людині Святий Дух через слухання Слова Божого (Римлян 10:17; Євреям 11:6; Дії 4:4). Віра має три основних елементи: пізнання Бога, Його Слова і Його волі (2Тимофію 1:12); покора Богові та Його Слову (Івана 10:27; Якова 4:7); прийняття того, що пропонує Бог (Івана 1:12; Римлян 8:15)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Святий Дух через віру веде людину до покаяння, спонукає відвернутися від гріха і навернутися до Бога (Дії 11:21; 26:18; Ефесян 2:8). Особисте визнання Ісуса Христа Господом і Спасителем підтверджується добрими ділами (2Коринтян 4:13; Івана 20:28; Римлян 10:9-19; Матвія 10:32,33; Луки 12:8-9; Дії 8:37)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що покаяння дає Бог, лише завдяки Своїй ласці та доброті. (Марка 1:15; Дії 2:37-38; 11:18; Римлян 2:4). Покаяння та навернення містять: жалкування про вчинений гріх, визнання гріха перед Богом, залишення гріха і прийняття Ісуса Христа своїм особистим Спасителем (Притчі 28:13; 2Коринтян 7:10; Дії 26:20)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Покаяння – це переміна у розумі, почуттях і, особливо, у волі людини, про що свідчать її вчинки (Дії 2:37-38; 9:6,20; Луки 15:20; Матвія 21:29; Дії 26:20; Луки 19:8-9)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що наслідком навернення і особистого прийняття Ісуса Христа Спасителем і Господом є народження згори від Духа Святого і Слова Божого, що є необхідною умовою всиновлення і входження у Царство Боже (Івана 1:12-13; 3:3; Якова 1:18; 1Коринтян 4:15; Галатам 3:26)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Відродження – це воскресіння людини з її мертвого духовного стану і народження для нового життя, а не перероблення гріховної природи людини (Івана 3:3,5-6; Галатам 5:17; 1Коринтян 6:19; 2Коринтян 5:17; 1Петра 2:9; 2Петра 1:4)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Справжніми ознаками відродження є докорінна переміна життя, любов до Бога, Його Слова, любов до Церкви та людей; ненависть до гріха, спрага до спілкування з Богом через молитву, уподібнення до Христа (1Івана 3:1; 5:1; 2Коринтян 3:18; Ефесян 2:5; Галатам 4:19; 5:13). Народжені згори мають впевненість у спасінні, яка ґрунтується на Божому Слові (1Івана 5:13), свідченні Святого Духа (Римлян 8:16) та факті пережитого прийняття Ісуса Христа (Івана 1:12)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що людина, повіривши в Ісуса Христа, отримує виправдання вірою незалежно від добрих вчинків (Римлян 3:28; 2Коринтян 5:21). Шляхом виправдання змінюється становище віруючого перед Богом, Який звільняє його від відчуття провини і страху засудження за гріх, тому що Христос взяв усю провину на Себе та був покараний замість грішника. Віруючому зараховується праведність Христа, ніби він узагалі не був винним. Навернена людина отримує мир із Богом і право володіння славним спадком із Христом (Римлян 4:5; 5:1; 5:9; 8:1; 8:17; 8:30)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що народившись згори, людина отримує нову природу, в якій перебуває Дух Святий (1Коринтян 3:16; 6:19). У момент увірування людина стає дитиною Божою і отримує всі права, обов’язки і переваги Царського спадкоємця (Івана 1:12; 1Івана 3:1-2; Галатам 4:1-7). Тому Писання не вимагає шукати особливих ознак спасіння (Дії 13:39; Римлян 5:1; 1Коринтян 3:21-23; Ефесян 1:3; 4:30; Колосян 2:10; 1Івана 5:11-13)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Отримавши усиновлення, дитина Божа стає предметом особливої Божої любові (Івана 17:23), Його батьківського піклування (Луки 12:27-33) та виховання (Євреїв 12:5-11), а також має право на спадок (1Петра 1:3-5; Римлян 8:17) та вільний  доступ до Небесного Батька (Ефесян 3:12). Дитям Божим керує Дух Святий (Римлян 8:4; Галатам 5:18), воно у всьому підкоряється Богові (1Івана 5:1-3)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Бог в Ісусі Христі звершив спасіння людини, відродив її для нового життя, виправдав і всиновив, увівши в сім’ю Божу (Ефесян 2:19; 1Петра 2:9-10). Бог піклується про наше освячення, адже це є Його воля (1Солунян 4:3; 1Петра 1:16). Освячення – це відокремлення від гріха, посвячення себе Богові та зміна в образ Ісуса Христа (1Солунян 4:7; Филипʼян 2:15; Колосян 3:5-8; 2Коринтян 6:17-18)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Початкове освячення людина отримує в момент покаяння і стає святою у Христі, маючи спілкування зі Святим Богом (1Коринтян 1:2; 6:11; Римлян 1:7; Євреїв 10:10). Освячення у зростанні здійснюється впродовж усього життя як процес звільнення від сили і влади гріха, уподібнення до Господа Ісуса Христа, Його життя і характеру (2Коринтян 3:18; Ефесян 4:11-15; 5:27; Филипʼян 3:10-15; 1Солунян 4:1; 2Петра 3:18; Об’явлення 22:11)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Для цього Бог дав: Слово Боже (Ісус Навин 1:8; Псалом 1:1-2; Матвія 4:4; Івана 13:8; 2Тимофію 3:16-17); молитву, за допомогою якої віруючий спілкується з Богом, славить і шанує Його, сповідується у скоєних переступах, відкриває свої бажання перед Ним, завжди і за все дякує та клопоче про покаяння і спасіння інших людей (Матвія 26:41; Івана 4:23-24; 16:23; 1Івана 1:9; 1Солунян 5:17-18; Филипʼян 4:6; 1Тимофію 2:1-4); керівництво Духа Святого, Який освячує людину (1Петра 1:2; 2Солунян 2:13; Ефесян 3:16; Галатам 5:22-23), скеровує віруючого в житті так, що все сприяє йому на добро (Римлян 8:28); постійне перебування вірою у Христі (Івана 15:2,5,8; 1Коринтян 12:27)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Довершене або повне освячення настане під час підхоплення Церкви, коли відбудеться воскресіння померлих у Господі та переміна тих дітей Божих, які живуть на землі, і отримання ними нових тіл без гріха, подібних до славного тіла Господа (1Солунян 3:13; 4:17; 5:23; 1Івана 3:2). Спасенні будуть розділяти з Христом Його славу повіки вічні (Івана 17:22; 1Петра 5:10; 1Солунян 2:12; Євреїв 2:10; 2Тимофію 2:10)."
              image={image1}
            />
          </div>
        </div>
        <div class="our-beliefs__accordion">
          <div class="our-beliefs__accordion-header">
            <span class="top-key" style={{ backgroundColor: "var(--seasalt)" }}
            ></span>
            <h3 class="our-beliefs__accordion-title">
              Вчення про Церкву Христову
            </h3>
            <SvgPlus />
            <SvgMinus />
            <span
              class="bottom-key-1"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
            <span
              class="bottom-key-2"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
          </div>
          <div class="our-beliefs__content-wrapper">
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Вселенська Церква є невидимим зібранням духовно народжених людей, викуплених Ісусом Христом з усіх народів протягом усіх часів, які приєднані через хрещення Духом Святим до Тіла Христового. Вони перебувають як на небі, так і на землі (Івана 3:3; 1Коринтян 12:13; Євреїв 12:23)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Спасіння звершується Богом по благодаті. Людина отримує його тільки через особисте та самостійне навернення до Бога. Тому “під небом нема іншого Ймення, даного людям, щоб ним би спастися ми мали” (Дії 4:12). ."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Вселенська Церква Христова не є продовженням старозавітного Ізраїлю, але створена Ісусом Христом у День п’ятидесятниці на основі апостолів і пророків, де наріжним каменем є Сам Господь Ісус Христос. Вона є новим Божим народом, невидимим Господнім храмом, живим духовним організмом, Головою якого є Ісус Христос, а всі віруючі – членами (Матвія 16:18; Дії 2; Галатам 3:28: Ефесян 1:22-23; 2:19-22; Колосян 1:18)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Вселенська Церква Христова після закінчення періоду благодаті буде підхоплена на хмарах для зустрічі з Господом і подальшого вічного перебування з Ним (1Солунян 4:16-17). Належність до Вселенської Церкви не звільняє людину від обов’язку належати до місцевої церкви, бо тільки в ній вона може виконувати свої обов’язки стосовно братів і сестер у Христі (Євреям 10:25; Матвія 18:17)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що місцева церква є видимим зібранням народжених згори людей, які проживають в одній місцевості, об’єднані однією вірою на підставі Слова Божого та постійного перебування в «науці апостольській, спільноті братерській, ламанні хліба та в молитвах» (Дії 2:42; Филипʼян 1:1; Ефесян 4:4-6), і є складовою частиною Вселенської Церкви. Місцева церква покликана утверджувати Царство Христове на землі, проповідуючи Євангеліє (Матвія 28:19; Марка 16:15), спільно поклоняючись і прославляючи Господа (Ефесян 5:18-20), виявляючи любов і єднання віруючих (Івана 17:21-23)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="У місцевій церкві Бог через покликання та обрання настановляє служителів і наділяє кожного її члена необхідними дарами для служіння і збудування Церкви Христової (Ефесян 4:11-13). До місцевої церкви віруючі приєднуються через хрещення за вірою (Дії 2:41)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Для членів церкви Святе Писання встановлює певні відповідальність та обов’язки у взаєминах чоловіків і дружин (Ефесян 5:22-33); батьків і дітей (Ефесян 6:1-4); старших і молодших (Титу 2:2-6), служителів і членів церкви (1Петра 5:1-5)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що хрещення – це заповідь Господа нашого Ісуса Христа, яку встановлено для тих, хто навернувся від своїх гріхів, увірував в Ісуса Христа як  особистого Спасителя, отримав народження згори. Хрещення є актом їхнього послуху Богові та засвідченням своєї віри для оточуючих (Матвія 28:19)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Хрещення за вірою є зовнішнім знаком, який символізує смерть віруючого для гріха і його воскресіння з Христом для нового життя (Римлян 6:3-11; Галатам 3:27). Хрещення за вірою звершується служителями церкви (пресвітерами) через повне занурення у воду людей, які в дорослому віці свідомо визнають свою віру в Ісуса Христа як у свого особистого Спасителя і Бога, були навчені у церкві основ віри і дотримуються заповідей Слова Божого у практичному житті (Марка 16:16; Дії 2:41; 8:36-38; 1Петра 3:21)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Вечеря Господня – це заповідь Господа нашого Ісуса Христа, яку встановлено для того, щоб згадувати та звіщати смерть Господню, аж доки Він прийде (1Коринтян 11:23-26; Луки 22:17-20). Вечеря Господня виражає подяку, єднання віруючих із Христом та один з одним (1Коринтян 10:16-17)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Хліб та вино вказують на ТІЛО та КРОВ Ісуса Христа, і, приймаючи ці знаки, віруючий має духовну спільність із Ним (Матвія 26:26-28)."
              image={image2}
            />
          </div>
        </div>
        <div class="our-beliefs__accordion">
          <div class="our-beliefs__accordion-header">
            <span class="top-key" style={{ backgroundColor: "var(--seasalt)" }}
            ></span>
            <h3 class="our-beliefs__accordion-title">
              Вчення про духовний світ
            </h3>
            <SvgPlus />
            <SvgMinus />
            <span
              class="bottom-key-1"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
            <span
              class="bottom-key-2"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
          </div>
          <div class="our-beliefs__content-wrapper">
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що існують особливі духовні істоти – ангели, які створені Богом (Псалом 33:8; 90:11; 102:20; Матвія 1:20; 8:16; 12:45; Луки 7:21; 8:2; 11:26; Дії 1:10-11; Колосян 1:16; Євреїв 1:14; Об’явлення 16:14). Ангели перевершують людей силою та знанням (2Царів 19:35; Псалом 102:20; 2Петра 2:11; Якова 2:19; Обʼявлення 12:12). Ангели не одружуються (Матвія 22:30) і не вмирають (Луки 20:36)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Господь створив усіх ангелів святими (Буття 1:31; Матвія 25:31; Марка 8:38; 2Петра 2:4). Ангели не є рівними Богові, вони службові духи (Євреїв 1:4-7; Псалом 103:4). Їм не можна поклонятися і віддавати почесті, як Богу (1Царів 11:4-8,33; 2Царів 1:3; 1Коринтян 10:20). Ангели ієрархічно організовані Богом і виконують різні функції: ангели (Матвія 1:20); архангели (Даниїла 10:13,21; 12:1-2;  Юди 9; 1Солунян 4:16); херувими (Буття 3:24; Вихід 26:1; Єзекіїль 1:4-5; 10:15-20); серафими (Ісая 6:2-6)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Більша частина ангелів залишилася слухняною Богові та виконує Його волю (Матвія 25:31; 26:53; Луки 2:9-14; Євреїв 1:14). Вони славлять Бога (Псалом 146:1-2; Ісая 6:3), поклоняються Богу (Євреїв 1:6; Обʼявлення 5:8-13), служать Богові (Псалом 102:20; Обʼявлення 22:9; Матвія 1:20; Луки 1:26-28; 2:13-14). Ангели також служать Церкві й усім, хто отримує спасіння (Луки 16:22; Євреїв 1:14; 1Коринтян 4:9; 11:10; Ефесян 3:10; 1Петра 1:12; Дії 12:11; 27:23-24). Майбутнє Божих ангелів – у славі (Матвія 25:31)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми визнаємо, що інша частина ангелів: біси (Матвія 8:28-31), духи нечисті (Марка 1:23) – не зберегли своєї гідності (Юди 6), згрішили (2Петра 2:4). Частину з них ув’язнено в темряві безодні (2Петра 2:4; Юди 6), а інша частина діє на свободі (Луки 8:30-31; Ефесян 2:2; Євреїв 6:12). Ці ангели чинять опір задумам Бога (Даниїла 10:10-14; Обʼявлення 16:13-16) і сприяють поширенню лжевчень (1Івана 4:1-4; 1Тимофію 4:1), завдають фізичних і душевних страждань людям (Матвія 9:33; 12:22; 17:15-18; Марка 9:22; Луки 8:27-29; 9:37-42). Ангели, що згрішили, також мають організацію, а їхній голова – колишній херувим (Єзекіїль 28:14-15). Він названий сатаною (противником – Захарія 3:1-2; Йов 1:6; 2:1; Матвія 4:10; Луки 22:31), дияволом (Матвія 4:1; 13:39; Івана 13:20; Обʼявлення 13:9-10; 20:2), князем цього світу (Івана 12:31). "
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Для сатани і його ангелів приготовано суд (1Коринтян 6:3; 2Петра 2:4; Юди 6) та покарання в озері вогню (Матвія 25:41; Об’явлення 20:10)."
              image={image2}
            />
          </div>
        </div>
        <div class="our-beliefs__accordion">
          <div class="our-beliefs__accordion-header">
            <span class="top-key" style={{ backgroundColor: "var(--seasalt)" }}
            ></span>
            <h3 class="our-beliefs__accordion-title">
              Вчення про останні події
            </h3>
            <SvgPlus />
            <SvgMinus />
            <span
              class="bottom-key-1"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
            <span
              class="bottom-key-2"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
          </div>
          <div class="our-beliefs__content-wrapper">
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що незабаром Христос прийде на землю вдруге – у силі та славі (Матвія 25:31; Дії 1:11). Часу Його приходу не знає ніхто із людей (Матвія 24:31)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Розрізняють дві фази другого приходу Христа: прихід (явлення) по Свою Церкву невидимий для світу, під час якого відбудеться підхоплення Церкви (1Солунян 4:16-17); прихід зі Своєю Церквою для тисячолітнього царювання (Обʼявлення 19:11-21), тоді Його побачать усі люди (Обʼявлення 1:7). Ми віримо, що на землі настане велика скорбота (Матвія 24:21)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо у два воскресіння в майбутньому: воскресіння перше – це воскресіння до життя тих, що померли у Христі, і переміна вірних, що залишилися в живих (1Коринтян 15:51-53; 1Солунян 4:16-17; Филипʼян 3:21; Обʼявлення 20:6) та воскресіння мучеників часів «великої скорботи» (Обʼявлення 20:4-6); воскресіння грішників для засудження (Івана 5:28-29; Обʼявлення 20:12-13)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що після підхоплення Церква стане перед Судовим престолом Христовим (2Коринтян 5:10), щоб отримати похвалу (Матвія 25:21) та вінці «згідно з тим, що в тілі робив він, – чи добре, чи лихе» (2Коринтян 5:10); 1Петра 5:4; Якова 1:12; Обʼявлення 2:10). Ми віримо у тисячолітнє Царство Христа (Обʼявлення 20:2-4)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо у кінцевий суд великого білого престолу (Обʼявлення 20:11-13), який розпочнеться після останнього воскресіння. Після суду настане вічність, яка для одних буде нескінченним блаженством із Христом, а для інших – вічними муками (Матвія 25:46; Дії 12:2). Святе Писання вказує на неможливість переходу у вічності з одного стану в інший (Луки 16:24-26)."
              image={image2}
            />
          </div>
        </div>
        <div class="our-beliefs__accordion">
          <div class="our-beliefs__accordion-header">
            <span class="top-key" style={{ backgroundColor: "var(--seasalt)" }}
            ></span>
            <h3 class="our-beliefs__accordion-title">
              Принципи християнського життя
            </h3>
            <SvgPlus />
            <SvgMinus />
            <span
              class="bottom-key-1"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
            <span
              class="bottom-key-2"
              style={{ backgroundColor: "var(--seasalt)" }}></span>
          </div>
          <div class="our-beliefs__content-wrapper">
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що шлюб встановлений Богом, та є союзом між чоловіком і жінкою (Буття 2:18,24) з метою взаємної допомоги та підтримки (Буття 2:18; Екклезіяст 4:9), продовження людського роду (Буття 1:28)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми визнаємо, що дошлюбні статеві стосунки є гріхом і Божим Словом засуджуються (Євреїв 13:4; 12:16; 1Солунян 4:3-5). Згідно з Божою настановою віруючий одружується тільки з віруючою (1Коринтян 7:39; 2Коринтян 6:14). За Святим Письмом, чоловік може мати тільки одну дружину, а жінка тільки одного чоловіка (Матвія 19:4-6; 1Коринтян 6:16; 7:2). У випадку смерті чоловіка чи дружини Слово Боже не забороняє тому, хто залишився, брати інший шлюб (1Коринтян 7:39; Римлян 7:2-3)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Шлюбний союз між особами однієї статі є гріхом і заборонений відповідно до Святого Письма (Левит 18:22; Римлян 1:26-28; 1Коринтян 6:9-10)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми віримо, що Господь наказує не розлучатися тим, хто одружився (1Коринтян 7:10-13; Матвія 19:6; Марка 10:11-12). Слово Боже дозволяє розлучення тільки за провиною розпусти (Марка 5:32; Матвія 19:9), сексуального гріха, насильства, дошлюбного обману (Євреїв 13:4)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Шлюб є інституцією Божою і суспільною, тому повинен бути освяченим Божим словом і молитвою (Марка 10:6-9; Івана 2:1-2; Колосян 3:17; 1Тимофію 4:3-5), а також здійснюватися за державними законами (1Петра 2:13)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми визнаємо, що діти в сім’ї є дорогоцінним даром Божим (Псалом 126:3-5). Батьки несуть відповідальність за виховання своїх дітей перед Богом та суспільством (Матвія 18:6; Ефесян 6:4; 1Солунян 4:10-12)."
              image={image1}
            />
            <TextImageSection
              backgroundColor="var(--seasalt)"
              description="Штучне переривання вагітності (аборт) розглядається як вбивство і засуджується як навмисний гріх (1Коринтян 5:11; Псалом 138:13,16)."
              image={image2}
            />
            <TextImageSection
              isReversed
              backgroundColor="var(--seasalt)"
              description="Ми визнаємо, що людина, яка навернулася до Бога, повинна узгодити свої шлюбні стосунки зі Словом Божим, а саме:"
              image={image1}
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</Section>

<script is:inline type="module">
  const ourBeliefs = document.querySelector(".our-beliefs");
  const accordions = ourBeliefs.querySelectorAll(".our-beliefs__accordion");
  const contentWrapperArray = ourBeliefs.querySelectorAll(
    ".our-beliefs__content-wrapper"
  );
  const plusSvgArray = ourBeliefs.querySelectorAll(".plus-svg");
  const minusSvgArray = ourBeliefs.querySelectorAll(".minus-svg");

  accordions.forEach((currentAccordion) => {
    currentAccordion.addEventListener("click", () => {
      const currentContentWrapper = currentAccordion.querySelector(
        ".our-beliefs__content-wrapper"
      );
      const currentPlusSvg = currentAccordion.querySelector(".plus-svg");
      const currentMinusSvg = currentAccordion.querySelector(".minus-svg");

      contentWrapperArray.forEach((contentWrapper) => {
        if (contentWrapper !== currentContentWrapper) {
          contentWrapper.classList.remove("show");
        }
      });

      minusSvgArray.forEach((minus) => {
        if (minus !== currentMinusSvg) {
          minus.classList.remove("show");
        }
      });

      plusSvgArray.forEach((plus) => {
        if (plus !== currentPlusSvg) {
          plus.classList.remove("hide");
        }
      });

      currentContentWrapper.classList.toggle("show");
      currentMinusSvg.classList.toggle("show");
      currentPlusSvg.classList.toggle("hide");
    });
  });

  contentWrapperArray.forEach((wrapper) => {
    wrapper.addEventListener("click", (event) => {
      event.stopPropagation();
    });
  });
</script>
